<!DOCTYPE html>
<html lang="en" ng-app="shelter">
  <head>
    <meta charset="UTF-8">
    <title>Aminals Shelter</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/AnimalsFactory.js"></script>
    <script src="controllers/AnimalsController.js"></script>
    <script src="controllers/DogsController.js"></script>
    <link rel="stylesheet" href="css/bootstrap-paper.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="AnimalsCtrl">
      <h1>Furry Love & Glitter</h1>

      <div class="search row" ng-show="animals.length">
        <div class="col-md-12">
          <h4>Search Animals</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query.name" type="text" class="form-control" placeholder="Search by Name" autofocus>
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="query.type">
                <option value="" selected="selected">All</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bunny">Bunny</option>
                <option value="Goat">Goat</option>
                <option value="Pig">Pig</option>
                <option value="Elephant">Elephant</option>
                <option value="Horse">Horse</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="advancedSearch row" ng-show="query.type === 'Dog'">
        <div class="col-md-12">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query.dogBreed" type="text" class="form-control" placeholder="Search by Breed">
            </div>
          </form>
        </div>
      </div>

      <hr>

      <div class="displayAnimals row">

        <div class="displayAdoptableAnimals col-sm-12 well">
          <h5 ng-show="animals.length && filtered.length">Adoptable Animals</h5>
          <h5 ng-show="animals.length && !filtered.length">No Matches :(</h5>
          <ul>
            <li ng-repeat="item in filtered = (animals | filter:{adopted: false} | filter:query)">
              <figure>
                <img ng-src="{{item.filename}}">
                <figcaption>
                  {{item.name}}<br>
                  <a class="btn btn-info btn-sm" ng-hide="editing" ng-click="AnimalsFactory.adopted(item)">Adopt Me!</a>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>

        <div class="row displayAdoptedAnimals col-sm-12">
          <h5 ng-show="animals.length && filtered2.length">Adopted Animals</h5>
          <ul>
            <li ng-repeat="item in filtered2 = (animals | filter:{adopted: true})">
              {{item.name}} ({{item.type}})
            </li>
          </ul>
        </div>

      </div>

      <hr>

      <!-- <div class="addAnimal row">

        <div class="col-md-12">
          <form ng-submit="AnimalsFactory.addAnimal()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="AnimalsFactory.animalName" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="AnimalsFactory.animalType">
                <option value="" selected="selected">Choose Type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bunny">Bunny</option>
                <option value="Goat">Goat</option>
                <option value="Pig">Pig</option>
                <option value="Elephant">Elephant</option>
              </select>
            </div>
            <div class="form-group" ng-show="AnimalsFactory.animalType === 'Dog'">
              <input type="text" ng-model="AnimalsFactory.dogBreed" class="form-control" placeholder="Enter breed">
            </div>
            <button type="submit" class="btn btn-default">Add Animal</button>
          </form>
        </div> -->


      </div>

    </div> <!-- end container -->
  </body>
</html>
