<!DOCTYPE html>
<html lang="en" ng-app="shelter">
  <head>
    <meta charset="UTF-8">
    <title>Aminals Shelter</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/AnimalsController.js"></script>
    <link rel="stylesheet" href="css/bootstrap-paper.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="AnimalsCtrl">

      <div class="search row" ng-show="animals.length">
        <div class="col-md-12">
          <h4>Search Animals</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query.name" type="text" class="form-control" placeholder="Search by Name" autofocus>
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="query.type">
                <option value="" selected="selected">All</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bunny">Bunny</option>
                <option value="Goat">Goat</option>
                <option value="Pig">Pig</option>
                <option value="Elephant">Elephant</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <hr>

      <div class="displayAnimals row">

        <div class="displayAdoptableAnimals col-sm-8">
          <h5 ng-show="animals.length && filtered.length">Adoptable Animals</h5>
          <h5 ng-show="animals.length && !filtered.length">No Matches :(</h5>
          <ul>
            <li ng-repeat="item in filtered = (animals | filter:{adopted: false} | filter:query)">
              <span ng-click="editing = true" ng-hide="editing">
                {{item.name}} ({{item.type}})
              </span> - <a ng-click="adopted(item)">Adopt Me!</a>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required />
                  <select class="form-control" ng-model="animalType">
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Bunny">Bunny</option>
                    <option value="Goat">Goat</option>
                    <option value="Pig">Pig</option>
                    <option value="Elephant">Elephant</option>
                  </select>
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div>

        <div class="displayAdoptedAnimals col-sm-4">
          <h5 ng-show="animals.length && filtered2.length">Adopted Animals</h5>
          <ul>
            <li ng-repeat="item in filtered2 = (animals | filter:{adopted: true})">
              {{item.name}} ({{item.type}})
            </li>
          </ul>
        </div>

      </div>

      <hr>

      <div class="addAnimal row">
        <div class="col-md-12">
          <form ng-submit="addAnimal()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="animalName" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="animalType">
                <option value="" selected="selected">Choose Type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bunny">Bunny</option>
                <option value="Goat">Goat</option>
                <option value="Pig">Pig</option>
                <option value="Elephant">Elephant</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>
      </div>

    </div> <!-- end container -->
  </body>
</html>
